.continer
{
  border: 5px solid black;
  height: auto;
  width: auto;
  display: flex;
  /* flex-direction:row; */
  /* flex-direction: row-reverse; */
  flex-wrap: wrap;

  
}
.item
{
  font-size: 20px;
  border: 3px solid violet;
  height: 100px;
  width: 100px;
  padding: 3px;
  margin:  5px 5px;
  /* flex-grow: 5; */
  /* flex-shrink:10; */
  justify-content:center;
  
  
}